<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Stanford Solar Decathlon</title>
  
  <link rel="stylesheet" href="css/all.css" type="text/css" media="screen" charset="utf-8">
  
</head>
<body onLoad="load()">
<div class="main-container">
  
  <div class="main-topbar">
    <div class="main-logo">
      <img src="images/logoandline.png" alt="line" />
     <!-- <div id="logo"><h2>start.<a id="toChange" href="solardecathlon.stanford.edu">home</a></h2></div>   -->    
    </div>
    <div class="main-topnav">
      <ul>
        <li><a href="design.html">design</a></li>
        <li><a href="competition.html">competition</a></li>
        <li><a href="team.html">team</a></li>
        <li><a href="sponsors.html">sponsors</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
    
  </div>
  
  <div class="main-leftbar" id="menu">
   <!-- 
    <div class="navbar">
      <ul>
        <li><a href="#">all</a></li>
        <li><a href="#">core</a></li>
        <li><a href="#">business</a></li>
        <li><a href="#">architecture</a></li>
        <li><a href="#">structural</a></li>
        <li><a href="#">construction</a></li>
        <li><a href="#">mechanical</a></li>
        <li><a href="#">electrical</a></li>
        <li><a href="#">interaction</a></li>
      </ul>
    </div>
    -->
     <div class="navbar">
      <ul>
        <li><a href="#">s</a></li>
        <li><a href="#">t</a></li>
        <li><a href="#">a</a></li>
        <li><a href="#">r</a></li>
        <li><a href="#">t</a></li>
        <li><a href="#">.</a></li>
        <li><a href="#">h</a></li>
        <li><a href="#">o</a></li>
        <li><a href="#">m</a></li>
        <li><a href="#">e</a></li>
      </ul>
    </div>
    
    <div class="syndicationbar">
      <ul>
        <li><a href="#"><img src="images/gplus.png" onmouseover="this.src='images/gplus_color.png';" onmouseout="this.src='images/gplus.png'" alt="g_plus" /></a></li>
        <li><a href="#"><img src="images/twitter.png" onmouseover="this.src='images/twitter_color.png';" onmouseout="this.src='images/twitter.png'" alt="twitter" /></a></li>
        <li><a href="#"><img src="images/facebook.png" onmouseover="this.src='images/facebook_color.png';" onmouseout="this.src='images/facebook.png'" alt="facebook" /></a></li>
        <li><a href="#"><img src="images/news.png" onmouseover="this.src='images/news_color.png';" onmouseout="this.src='images/news.png'" alt="newsletter" /></a></li>
        <li><a href="#"><img src="images/you.png" onmouseover="this.src='images/you_color.png';" onmouseout="this.src='images/you.png'" alt="youtube" /></a></li>
        <li><a href="#"><img src="images/rss.png" onmouseover="this.src='images/rss_color.png';" onmouseout="this.src='images/rss.png'" alt="rss" /></a></li>
      </ul>
      
    </div>
  </div>
  
  <div class="main-content">
{{ content }}
  </div>
  
</div>

<div class="main-footer">
  <p id="copyright">© 2012 Stanford Solar Decathlon | <a href="sitemap.html">sitemap</a></p>
</div>

  <script src="javascripts/scroller.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascripts/start.js" type="text/javascript" charset="utf-8"></script> 
  <!--<script src="javascripts/roller.js" type="text/javascript" charset="utf-8"></script> -->

</body>
</html>